body {
    background-color: #263238;
    color: white;
}

img#logo {
    width: 220px;
}

.invalid {
    width: 220px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: medium;
}

table {
    border-collapse: collapse;
    width: 220px;
}

tr.link:hover {
    background-color: #f4ff81;
    color: black;
}

td {
    /* border: 1px solid teal; */
    width: 160px;
}

    td.image {
        width: 30px;
    }

        td.image img {
            width: inherit;
        }

    td.text {
        font-size: medium;
        /* padding-left: 10px; */
    }
