body {
    background-color: #263238;
    color: white;
    width: 420px;
    font-size: medium;
}

div.logo {
    width: 100%;
    text-align: center;
}

img#logo {
    width: 250px;
}

.invalid {
    /* width: 220px; */
    color: white;
    text-align: center;
    font-size: medium;
}

table {
    border-collapse: collapse;
    width: 200px;
}

tr.link {
    color: white;
    padding-bottom: 2em;
    border-bottom: 4px solid #263238;
}

    tr.link:hover {
        color: black;
        background-color: #f4ff81;
    }

td {
    width: 160px;
    font-weight: 600;
}

    td.image {
        width: 30px;
    }

        td.image img {
            width: inherit;
        }

    td.text {
        /* padding-left: 10px; */
    }

.button {
    background-color: #607d8b;
    color: white;
    width: 100%;
    font-weight: 600;
    line-height: 26px;
    border: none;
    border-radius: 2px;
    position: relative;
    height: 32px;
    margin: 0;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    padding: 0 10px;
    outline: 0;
    transition: box-shadow .1s cubic-bezier(.4,0,1,1),background-color .1s cubic-bezier(.4,0,.2,1),color .1s cubic-bezier(.4,0,.2,1);
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    font-size: 13px;
    margin-bottom: 8px !important;
}

    .button:hover {
        cursor: pointer;
        background-color: #f4ff81;
        color: black;
        /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
    }
